@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1765542488452') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-huaban:before {
  content: "\e61a";
}

.icon-fangdajing:before {
  content: "\e848";
}

.icon-shangyizhang-copy-copy:before {
  content: "\e523";
}

