.header{
    width: 100%;
    height: 140px;
    border-bottom: 1px solid #add;
    
}
.wrap{
    width: 1190px;
    margin: auto;
    
}
.header-box{
    height: 140px;
    position: relative;
}

.logo{
    position: absolute;
    left: 0;
    top: 10px;
    width: 190px;
    height: 120px;
    background: url(../image/logo\(1\).png);

}

.search{
    width: 100%;
    height: 60px;
}
.search-box{
    position: relative;
    width: 100%;
    height: 60px;
    
}
.form{
    position: absolute;
    left: 260px;
    top: 25px;
    width: 546px;
    height: 32px;
    border: 2px solid #e22;
    background-color: #fff;
}

.keyword{
    position: absolute;
    top: 0;
    left: 0;
    width: 425px;
    height: 26px;
    padding: 2px 44px 2px 17px;
    border: 1px solid transparent;
    line-height: 26px;
    font-size: 12px;
    color: #333;
    outline: none;
}
.button{
    position: absolute;
    right: 0;
    width: 58px;
    height: 29px;
    line-height: 32px;
    border: none;
    background-color: #e22;
    font-size: 20px;
    font-weight: 700px;
    color: #fff;
    cursor: pointer;
}

.search-helper{
     z-index: 1000;
    display: none;
    position: absolute;
    top: 35px;
    width: 488px;
    /* height: 200px; */
    background-color: skyblue;
    border: 1px solid #ccc;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 1px 2px 1px rgb(0 0 0/20%);
}

.search-helper p{
    height: 24px;
    padding: 1px 6px;
    line-height: 24px;
    cursor: pointer;
    font-size: 12px;
    color: #666;

}
body{
    background-color: #f4f4f4;
}
/* 轮播图 */
.banner{
    width: 100%;
    height: 470px;
    padding-top: 10px;
    margin-bottom: 30px;
    
}

.banner-box{
    height: 470px;
    
}

.banner-slide{
    
    width: 790px;
    height: 470px;
    margin: 0 auto;
    
}

.slide{
    position: relative;
    width: 590px;
    height: 470px;
    /* background-color: aqua; */
    
}

.prev,.next{
    position: absolute;
    top: 35%;
    margin-top: -20px;
    width: 25px;
    height: 35px;
    line-height: 35px;
    background-color: rgb(0, 0, 0,.15);
    font-size: 20px;
    cursor: pointer;
}

.prev{
    left: 0;
    border-radius: 0 18px 18px 0;
    background-color: #666;
}

.next{
    right: 0;
    border-radius: 18px 0 0 18px;
    background-color: #666;
}

.banner-btn{
    position: absolute;
    left: 30px;
    bottom: 150px;
    width: 113px;
    height: 15px;
    list-style: none;
}

.banner-btn li{
    float:left;
    width: 8px;
    height: 8px;
    border:  1px solid rgba(255, 255, 255, .6);
    margin-right: 4px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, .8);
    
}

.banner-btn .active{
    position: relative;
    top: -0.6px;
    width: 8px;
    height: 8px;
    border: 3px solid #fff; 
    padding: 2px; 
    background-color: #fff; 
     box-sizing: border-box;
}